{% extends 'base.html.twig' %}

{% block title %}BookNow{% endblock %}

{% block content %}

    <div class="container text-center mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 text-primary">Bienvenue sur BookNow !</h1>
                <h2 class="lead text-secondary">Réserver en toute simplicité. </h2>
                <p class="mt-3 mb-4">
                    Chosissez un service, vérifiez les disponibilités, et c'est réservé ✅!
                </p>
                <a href="#" class="btn btn-primary btn-lg">Accéder à la liste des services</a>
            </div>
        </div>
    </div>
{% endblock %}
